# ==== IGNORE EVERYTHING by default ====
*.ini
[0-9][0-9]/*
[0-9][0-9]/solution/theory
kata-[0-9][0-9]/*
kata-[0-9][0-9]/solution/theory
trivia-[0-9][0-9]

# ==== EXCEPTIONS: Whitelist what to track ====
![0-9][0-9]/solution/
![0-9][0-9]/solution/program/
![0-9][0-9]/solution/program/**
!kata-[0-9][0-9]/solution/
!kata-[0-9][0-9]/solution/program/
!kata-[0-9][0-9]/solution/program/**